html, body {
	margin:0;
	padding:0;
}

input[type=button] {
	float: left;
	margin: 1em;
}

#container {
	width: 640px;
	height: 640px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #ccc;
}
